<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>977781797361-eeavb1qvrl57bsdslb1ai3qf5533g8sb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.977781797361-eeavb1qvrl57bsdslb1ai3qf5533g8sb</string>
	<key>API_KEY</key>
	<string>AIzaSyBtqf_XKFGWw8Di7LuGaYq3MBVXAN1iqJQ</string>
	<key>GCM_SENDER_ID</key>
	<string>977781797361</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.programaticos.turisudea2022</string>
	<key>PROJECT_ID</key>
	<string>mobiludea2022</string>
	<key>STORAGE_BUCKET</key>
	<string>mobiludea2022.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:977781797361:ios:6d74fb8b17f3624dead450</string>
</dict>
</plist>